absl-py==0.11.0
aiohttp-socks==0.5.5
aiohttp==3.7.2
aiorpcx==0.18.4
alabaster==0.7.12
appdirs==1.4.4
argcomplete==1.12.2
argh==0.26.2
argon2-cffi==20.1.0
argparse==1.4.0
args==0.1.0
arviz==0.6.1
astroid==2.4.2
async-generator==1.10
async-timeout==3.0.1
atari-py==0.2.6
atomicwrites==1.4.0
attrs==20.2.0
automat==20.2.0
autopep8==1.5.4
babel==2.8.1
backcall==0.2.0
beautifulsoup4==4.9.3
biopython==1.78
bitstring==3.1.7
bleach==3.2.1
blis==0.4.1
bokeh==2.2.3
bs4==0.0.1
catalogue==1.0.0
cerberus==1.3.2
certifi==2020.12.5
cffi==1.14.0
cftime==1.3.0
chardet==3.0.4
click==7.1.2
clint==0.5.1
cloudpickle==1.6.0
colorama==0.4.4
conda-package-handling==1.7.0
conda==4.9.2
configparser==5.0.1
constantly==15.1.0
coverage==5.5
crimson==0.5.2
cryptography==2.9.2
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.4
cython==0.29.21
cytoolz==0.11.0
dask==2021.1.1
deap==1.3.1
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20200713
dill==0.3.3
distributed==2021.1.1
distro==1.5.0
dlx==1.0.4
dnspython==1.16.0
docker-pycreds==0.4.0
docopt==0.6.2
docplex==2.19.202
docutils==0.16
dotty-dict==1.3.0
drawille==0.1.0
ecdsa==0.16.0
echo==0.1
electrum==4.0.4
en-core-web-sm==2.3.1
entrypoints==0.3
enz==0.15
fastdtw==0.3.4
fastjsonschema==2.14.5
flake8==3.8.4
flask==1.1.2
fsspec==0.8.5
funpipe==0.1.0
future==0.18.2
git-archive-all==1.23.0
gitdb==4.0.5
gitpython==3.1.12
griddataformats==0.5.0
grip==4.5.2
gsd==2.4.0
gym==0.18.0
h5py==3.1.0
heapdict==1.0.1
helpdev==0.7.1
hjson==3.0.2
hyperlink==20.0.1
idna==2.8
imagesize==1.2.0
imbalanced-learn==0.8.0
importlib-metadata==2.0.0
incremental==17.5.0
inflection==0.5.1
iniconfig==1.1.1
intervaltree==3.1.0
ipykernel==5.3.4
ipymol==0.5
ipython-genutils==0.2.0
ipython==7.18.1
ipywidgets==7.5.1
isort==5.6.4
itemadapter==0.2.0
itemloaders==1.0.4
itsdangerous==1.1.0
jax==0.2.7
jaxlib==0.1.56
jedi==0.17.1
jeepney==0.6.0
jinja2==2.11.2
jmespath==0.10.0
joblib==0.17.0
jsonschema==3.0.2
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyter==1.0.0
jupyterlab-pygments==0.1.2
keyring==21.4.0
kinetics==1.4.1
kitchen==1.2.6
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
locket==0.2.0
lxml==4.6.2
mako==1.1.3
markdown==3.3.4
markupsafe==1.1.1
matplotlib==3.3.2
mccabe==0.6.1
mdanalysis==1.0.0
mib==0.0.0
milc==1.1.0
mistune==0.8.4
mmterm==0.1
mmtf-python==1.1.2
more-itertools==8.6.0
mpmath==1.1.0
msgpack==1.0.0
multidict==5.0.0
multitasking==0.0.9
murmurhash==1.0.5
mutagen==1.45.1
mxn==0.0.0
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.1
netcdf4==1.5.3
networkx==2.5
nose2==0.10.0
notebook==6.1.4
ntlm-auth==1.5.0
numpy==1.19.1
numpydoc==1.1.0
nwalign3==0.1.2
olefile==0.46
opencv-python==4.5.1.48
openprotein==0.0.0
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.3
pandocfilters==1.4.2
parsel==1.6.0
parso==0.7.0
partd==1.1.0
path-and-address==2.0.1
pathtools==0.1.2
patsy==0.5.1
peptidebuilder==1.1.0
pexpect==4.8.0
pickleshare==0.7.5
pillow==7.2.0
pip==20.0.2
plac==1.0.0
plates==0.0.0
pluggy==0.13.1
ply==3.11
preshed==3.0.2
primer3-py==0.6.1
prometheus-client==0.8.0
promise==2.3
prompt-toolkit==3.0.8
protego==0.1.16
protobuf==3.13.0
psutil==5.7.2
ptyprocess==0.6.0
py==1.10.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pybind11==2.6.1
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.20
pydispatcher==2.0.5
pydocstyle==5.1.1
pyflakes==2.2.0
pyglet==1.5.0
pygments==2.7.1
pygpu==0.7.6
pyhamcrest==2.0.2
pylint==2.6.0
pymc3==3.8
pymol==2.4.1
pyopenms==2.6.0
pyopenssl==19.1.0
pyparsing==2.4.7
pyro-api==0.1.2
pyro-ppl==1.5.1+5e198f24
pyrsistent==0.17.3
pysocks==1.7.1
pyteomics==4.4.0
pytest==6.2.1
python-constraint==1.4.0
python-dateutil==2.8.1
python-jsonrpc-server==0.4.0
python-language-server==0.35.1
python-socks==1.1.0
pytz==2020.1
pywal==3.3.0
pyxdg==0.27
pyyaml==5.3.1
pyzmq==19.0.2
qdarkstyle==2.8.1
qiskit-aer==0.7.2
qiskit-aqua==0.8.1
qiskit-ibmq-provider==0.11.1
qiskit-ignis==0.5.1
qiskit-terra==0.16.1
qiskit==0.23.2
qmk==0.0.40
qrcode==6.1
qtawesome==1.0.1
qtconsole==4.7.7
qtpy==1.9.0
quandl==3.6.0
queuelib==1.5.0
requests-futures==1.0.0
requests-ntlm==1.1.0
requests==2.22.0
retworkx==0.7.2
rope==0.18.0
rtree==0.9.4
rtv==1.27.0
ruamel-yaml==0.15.87
salib==1.3.12
scdl==1.6.12
scikit-learn==0.24.1
scipy==1.4.1
scrapy==2.4.1
seaborn==0.11.0
secretstorage==3.1.2
selenium==3.141.0
send2trash==1.5.0
sentry-sdk==0.19.5
seqfold==0.7.4
service-identity==18.1.0
setuptools-scm==5.0.2
setuptools==46.4.0.post20200518
shortuuid==1.0.1
sip==4.19.24
six==1.14.0
smmap==3.0.4
snowballstemmer==2.0.0
sortedcontainers==2.2.2
soupsieve==2.1
spacy==2.3.5
sphinx-rtd-theme==0.5.0
sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spyder-kernels==1.9.4
spyder==4.1.5
srsly==1.0.5
statsmodels==0.12.1
stem==1.8.0
subprocess32==3.5.4
swalign==0.3.6
sympy==1.7.1
tblib==1.6.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
theano==1.0.4
thinc==7.4.5
threadpoolctl==2.1.0
tidyms==0.1.0
tk==0.1.0
toml==0.10.1
toolz==0.11.1
torch==1.7.1
tornado==6.0.4
torrequest==0.1.0
tqdm==4.46.0
traitlets==5.0.5
twisted==20.3.0
typing-extensions==3.7.4.3
ujson==4.0.1
urllib3==1.25.8
uv==0.0
w3lib==1.22.0
wandb==0.10.12
wasabi==0.8.0
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
websockets==8.1
werkzeug==1.0.1
wheel==0.34.2
widgetsnbextension==3.5.1
wrapt==1.11.2
wurlitzer==2.0.1
xarray==0.16.2
xlrd==1.2.0
yapf==0.30.0
yarl==1.6.2
yfinance==0.1.55
youtube-dl==2021.1.24.1
yturl==2.0.2
zict==2.0.0
zipp==3.3.1
zope.interface==5.2.0